@page
@model LanguageLearning.Pages.JDictionary.IndexModel

@{
    ViewData["Title"] = "Japanese Words";
}

<h2>Japanese Words</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Word name: <input type="text" name="SearchWName">
        Parts of Speech: <select asp-for="WordPOS" asp-items="Model.POS">
            <option value="">All</option>
        </select>
    </p>

    <p>
        Definition: <input type="text" name="SearchWDef">
    </p>

    <p>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JWord[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JWord[0].Definition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JWord[0].Kana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JWord[0].PartsOfSpeech)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JWord[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.JWord)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Definition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartsOfSpeech)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
